:root {
    --dark-gray: #191919;
    --gray: #262525;
    --green: #27ae60;
    --purple: #fcfc;
    --white: #FFFFFF;
    --light-gray: #e4e4e4;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--gray); /* Dunkler Hintergrund für die gesamte Webseite */
}

p {
    color: #d3d3d3; /* Helles Grau für andere Absätze */
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 30px;
}

/* Hover-Effekte für Bilder */
.about img,
.card .pra img {
    transition: transform 0.3s; /* Sanfter Übergangseffekt */
}

    .about img:hover,
    .card .pra img:hover {
        transform: scale(1.1); /* Größe beim Überfahren erhöhen */
    }

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

#particles-js, #particles-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8%;
}

.logo {
    color: var(--white);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: var(--green);
}

nav ul {
    list-style-type: none;
}

    nav ul li {
        display: inline-block;
        padding: 10px 25px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;
        }

            nav ul li a:hover {
                color: var(--green);
                transition: .4s;
            }

.btn {
    background-color: var(--green);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

    .btn:hover {
        transform: scale(1.2);
    }

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: var(--white);
    margin: 20px 0;
    font-size: 75px;
}

h3 {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: var(--purple);
    letter-spacing: 2px;
    font-size: 20px;
}


.newsletter {
    width: 380px;
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.mail-button {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid var(--green);
    border-radius: 30px;
    color: var(--green);
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    float: left;
}

    .mail-button:hover {
        background-color: var(--green);
        color: var(--white);
        transition: background-color 0.4s;
    }

.about {
    display: flex; /* Flexbox verwenden */
    align-items: center; /* Vertikale Zentrierung */
    justify-content: space-between; /* Abstand zwischen Bild und Text */
    width: 100%;
    padding: 100px 10px;
    background-color: var(--gray);
}

    .about img {
        width: 30%; /* Bildgröße responsive machen */
        max-width: 430px; /* Maximale Breite beibehalten */
        height: auto; /* Höhe automatisch anpassen */
        margin-right: 20px; /* Mindestabstand zum Text */
    }

.about-text {
    width: 100%; /* Textbereich auch responsive machen */
    max-width: 550px; /* Maximale Breite für den Textbereich */
}

    .about-text h2 {
        color: var(--white);
        font-size: 75px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .about-text h5 {
        color: white;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }

    .about-text p {
        color: var(--purple);
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 18px;
        margin-bottom: 45px;
    }

/* Medienabfragen für Responsivität */
@media (max-width: 430px) {
    .about {
        flex-direction: column; /* Layout für mobile Geräte anpassen */
        align-items: center; /* Zentrierung */
    }

        .about img {
            margin-right: 0; /* Abstand entfernen bei vertikaler Anordnung */
            margin-bottom: 20px; /* Abstand unter dem Bild */
        }
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Styles für den Bereich Berufserfahrung */
.work-experience {
    width: 100%;
    padding: 100px 100px 25px 100px;
    background-color: var(--dark-gray); /* Dunkler Hintergrund */
}

    .work-experience h2 {
        color: var(--white);
        font-size: 3em;
        margin-bottom: 50px;
        margin-top: 30px;
        text-align: left;
    }

.experience-item-wrapper {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.experience-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 1;
    text-align: center;
}

    .logo img {
        max-width: 230px;
        height: auto;
        transition: transform 0.3s;
    }

        .logo img:hover {
            transform: scale(1.1);
        }

.experience-details {
    flex: 2;
    text-align: left;
    margin-left: 20px;
    margin-right: 10%;
}

    .experience-details h5 {
        color: var(--white);
        font-size: 22px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }

    .experience-details h6 {
        font-size: 16px;
        color: white;
        margin-bottom: 20px;
        font-weight: normal;
    }

.projects {
    background: var(--dark-gray);
    width: 100%;
    padding: 25px 0 100px 0;
}

.title h2 {
    color: white;
    font-size: 65px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px; /* Maximalbreite festlegen */
    margin: 0 auto; /* Zentriert die Box */
}

.card {
    height: 1050px;
    width: 45%;
    flex: 1 1 45%; /* Verhindert, dass die Karten zu breit werden */
    margin: 20px;
    max-width: 550px; /* Maximalbreite der Karten */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 35px;
    background: var(--gray);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

@media (max-width: 768px) {
    .projects .card {
        flex: 1 1 100%; /* Volle Breite auf kleinen Bildschirmen */
    }
}

.card i {
    font-size: 50px;
    display: block;
    margin: 25px 0;
    color: var(--green);
}

.card .button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--green);
    color: var(--white);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card h6 {
    font-size: 22px;
    margin: 15px 0;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: left;
    color: var(--green);
}

    .card .pra img,
    .card .pra .video {
        max-width: 80%;
        height: auto;
        padding: 10px;
    }

    .card .pra .logo {
        width: 40%;
        padding: 3px;
    }

    .card ul {
        list-style-type: none;
        padding-left: 20px;
    }

        .card ul li {
            padding: 4px 0;
            color: var(--white);
            text-align: left;
        }

.card .button:hover {
    background-color: transparent;
    border: 2px solid var(--green);
    cursor: pointer;
}

h5 {
    color: white;
    font-size: 27px;
    margin-bottom: 25px;
}

.pra {
    color: var(--purple);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 30px;
}

.skills {
    background-color: var(--gray);
    padding: 80px 0;
    text-align: center;
}

    .skills .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills h2 {
        font-size: 60px;
        color: var(--white);
        text-align: center;
        margin-bottom: 30px;
    }

.skill-category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

    .skill-category h3 {
        color: var(--light-gray);
        width: 100%;
        text-align: center;
    }

    .skill-category .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

        .skill-category .icons div {
            text-align: center;
            margin: 5px;
        }

        .skill-category .icons i {
            color: var(--green);
            font-size: 2.5em;
            margin-bottom: 5px;
        }

        .skill-category .icons label {
            color: var(--white);
            font-size: 1em;
            display: block;
            margin-top: 10px;
            padding-bottom: 5px;
            text-align: center;
        }

.contact-me {
    width: 100%;
    height: 250px;
    background: var(--gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

    .contact-me h2 {
        color: var(--white);
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .contact-me p {
        color: var(--purple);
        margin-bottom: 20px;
    }

    .contact-me a {
        color: white;
        text-decoration: none;
        padding: 12px 25px;
        border: 2px solid var(--green);
        border-radius: 30px;
        transition: background-color 0.4s;
    }

        .contact-me a:hover {
            background-color: var(--green);
            color: var(--white);
        }

.footer {
    background-color: var(--gray);
    padding: 30px 0;
    text-align: center;
}

    .footer p {
        color: var(--purple);
        font-size: 14px;
        margin-bottom: 10px;
    }

.gallery {
    position: relative;
    z-index: 0;
    padding: 100px 10px;
    text-align: center;
}

    .gallery h2 {
        color: var(--white);
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
        text-transform: capitalize;
    }

#particles-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    perspective: 1200px; /* Set the perspective for 3D effect */
}

.gallery-item {
    height: 280px;
    width: 330px;
    position: absolute;
    transition: transform .5s;
    background-size: contain;
    transform-style: preserve-3d; /* Preserve 3D transformations */
    backface-visibility: hidden; /* Hide backfaces */
}

    .gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotateY(0deg); /* Initially, set images facing user */
    }

    .gallery-item.active {
        z-index: 2; /* Set a higher z-index for the active item */
    }

    .gallery-item:nth-child(1) {
        transform: rotateY(0deg) translateZ(300px);
    }

    .gallery-item:nth-child(2) {
        transform: rotateY(60deg) translateZ(300px);
    }

    .gallery-item:nth-child(3) {
        transform: rotateY(120deg) translateZ(300px);
    }

    .gallery-item:nth-child(4) {
        transform: rotateY(180deg) translateZ(300px);
    }

    .gallery-item:nth-child(5) {
        transform: rotateY(240deg) translateZ(300px);
    }

    .gallery-item:nth-child(6) {
        transform: rotateY(300deg) translateZ(300px);
    }

    .gallery-item:nth-child(7) {
        transform: rotateY(360deg) translateZ(300px);
    }


.gallery-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    margin: 0 auto;
}

    .gallery-controls span {
        font-size: 30px; /* Größe der Pfeile */
        margin: 15px 30px 0 30px; /* Gleichmäßiger Abstand zwischen den Pfeilen */
        color: var(--white); /* Farbe der Pfeile */
        cursor: pointer;
        transition: transform 0.3s ease, color 0.3s ease; /* Weiche Übergänge bei Hover */
    }

        .gallery-controls span:hover {
            color: var(--light-gray); /* Pfeilfarbe bei Hover */
            transform: scale(1.2); /* Leicht vergrößern bei Hover */
        }

.gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    left: -30px;
    top: 25%;
    transform: rotate(135deg) translateX(-50%);
}

.gallery-controls-next::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateX(-50%);
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next:hover::before {
    right: -40px;
}